*
{
    margin: 0;
}

html
{
    width: 800px;
    height: 1132px;
    margin: auto;
}

body, pre
{
    background: #fff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

img
{
    height: 25px;
}

#button
{
    position: fixed;
    display: flex;
    right: 50px;
    bottom: 50px;
    width: 100px;
    height: 100px;
    background: gray;
    justify-content: center;
    align-items: center;
}

#button:hover
{
    background: black;
    color: white;
}

.dot
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px
}

.dot-blue
{
    background: #4a69bd;
    margin: 0 5px 0 0;
}

.dot-grey
{
    background: #b2b2b8;
}

.dot-orange
{
    background: #e67e22;
}

.grid
{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    background: #4a69bd;
    color: #f5f5f5;
    padding: 10px 10px 0 10px;
    align-items: center;
}

#header-about_me
{
    width: 65%;
    margin: 5px;
}

#header-contact_me
{
    width: 35%;
    margin: 5px;
    padding-top: 10px;
}

#header-triangle 
{
    border-top: 25px solid #4a69bd;
    border-right: 800px solid transparent;
}

.header-contact_me-url
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f5f5f5;
    padding: 10px 0;
    word-wrap: break-word;
}

.header-contact_me-url span
{
    padding-left: 5px;
}

/* Section */

section
{
    padding: 10px;
}

section h2, section h3, section h4
{
    padding-top: 4px;
}

section h3
{
    display: inline-block;
    color: #4a69bd;
    border-bottom: 2px solid #e67e22;
    padding: 0 10px 2px 0;
}

section h3:first-of-type
{
    padding-top: 4px;
}

section h5
{
    font-size: 15px;
    font-weight: bold;
}

#section-experience
{
    grid-column: 1/2;
    grid-row: 1/7;
}

#section-skills, #section-education, #section-languages, #section-interests
{
    grid-column: 2/3;
}

#section-skills
{
    grid-row: 1/4;
}

#section-education
{
    grid-row: 4/5;
}

#section-languages
{
    grid-row: 5/6;
}

#section-interests
{
    grid-row: 6/7;
}

.section-content p, .section-content pre
{
    margin: 5px;
    padding: 5px 0 5px 5px;
    line-height: 1.1;
}

.section-content p:not(.section-content-time_period), .section-content pre
{
    border-left: 4px solid #e67e22;
}

.section-content-paragraph
{
    white-space: pre-line;
}

/* Footer */

footer
{
    display: block;
    background: #4a69bd;
    padding: 10px;
    color: #f5f5f5;
}

#footer-triangle 
{
    border-bottom: 25px solid #4a69bd;
    border-left: 800px solid transparent;
}

/* Media queries */

@media only screen and (max-width: 600px)
{
    *:not(img)
    {
        overflow-x: hidden; 
    }

    html
    {
        width: 100%;
    }

    #button
    {
        right: 15px;
        bottom: 15px;
    }


    #section-experience
    {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    #section-skills
    {
        grid-column: 1/2;
        grid-row: 3/5;
    }

    #section-education
    {
        grid-column: 2/3;
        grid-row: 3/5;
    }

    #section-languages
    {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    #section-interests
    {
        grid-column: 2/3;
        grid-row: 5/6;
    }
}

@media only screen and (max-width: 480px)
{
    .grid
    {
        grid-template-columns: 1fr;
    }

    header
    {
        flex-direction: column;
    }

    header h1
    {
        word-wrap: break-word;
    }

    header h3
    {
        display: flex;
        justify-content: center;
    }

    #header-about_me, #header-contact_me
    {
        width: 100%;
    }

    #section-experience, #section-skills, #section-education, #section-languages, #section-interests
    {
        grid-column: 1/2;
    }

    #section-experience
    {
        grid-row: 1/2;
    }

    #section-skills
    {
        grid-row: 2/3;
    }

    #section-education
    {
        grid-row: 3/4;
    }

    #section-languages
    {
        grid-row: 4/5;
    }

    #section-interests
    {
        grid-row: 5/6;
    }
}

@media print
{
    #button
    {
        display: none;
    }
}